
<ion-header>

    <ion-navbar color="primary">
      <ion-title>แอปพลิเคชันโครงการหลวง</ion-title>
    </ion-navbar>
  
  </ion-header>

<ion-content padding background-color>

          <ion-slides pager style="height: 20%; margin-top: 20px;" >
            <ion-slide  class="slide" *ngFor="let slide of listProjectIntro" >
              
              <div align="center" class="slide-subtitle">{{slide.name | slice:10:60 }}</div>
              <img [src]="slide.images" class="slide-images"/> 
            </ion-slide>      
          </ion-slides>


        <h2>โครงการแนะนำ</h2>
        <div class="gid">
          <ion-row>
              <ion-col class="item" col-6 *ngFor="let item of listProjectIntro"  (click)="showDetial(item)">
                <ion-card>
                  <img *ngIf="item.images!=''" [src]="item.images" />
                  <p>{{item.name | slice:10:60 }}</p>   
                </ion-card>     
              </ion-col>
          </ion-row>
        </div>  

</ion-content>
