<!--
  Generated template for the MyarticlePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>บทความของฉัน</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
    <div align="left">
        <button  ion-button small icon color="blue" round navPush="CreatarticlePage"> 
          <ion-icon name="add" item-start> 
          </ion-icon> &nbsp;&nbsp;&nbsp;เขียนบทความ
        </button>
        
      
      </div>
      <ion-item-group>
        <ion-item-divider color="light">รายการบทความของฉัน</ion-item-divider>
        <ion-item *ngFor="let item of CreatarticleList" >
          <h3>{{item.name}}</h3>
          <p style="color: rgb(236, 233, 8);" *ngIf="item.status=='wait'">รออนุมัติ</p>
          <p style="color: red;" *ngIf="item.status=='reject'">ไม่อนุมัติ</p>
          <p style="color: rgb(7, 172, 7);" *ngIf="item.status=='approve'">อนุมัติแล้ว</p>
          <button class="btn btn-danger"  class="btn btn-danger" (click)="showContent(item)" >ดู</button>
          <button class="btn btn-danger"  class="btn btn-danger" (click)="delete(item)" >ลบ</button>
        </ion-item>
        
      </ion-item-group>

</ion-content>

